body {
	font-family: Arial, sans-serif;
	background-color: #FFD1DC;
	margin: 0;
	padding: 0;
	align-items:center;
	justify-content:center;
  }
  h1 {
	text-align: center;
	color: #ab0981;
	font-size: 32px;
	margin:30px;
  }
  #chat-container {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .user-response {
	background-color: #e8f7ff;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 10px;
  }
  .user-response img {
	margin-left: auto;
  }
  .ai-response {
	background-color: #e8f7ff;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 10px;
  }
  #speak-btn {
	background-color: #F0237F;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin:10px;
  }
  #speak-btn:hover {
	background-color: #0056b3;
  }