<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pregnancy Depression Chatbot</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <h1>Pregnancy Depression Chatbot</h1>
  <div id="chat-container">
    <button id="speak-btn">Speak Your Message</button>
    <div class="user-response flex items-center">
      <img src="https://cdn4.iconfinder.com/data/icons/avatars-21/512/avatar-circle-human-female-5-512.png" alt="User Avatar" class="h-8 w-8 rounded-full mr-2"> 
      <div id="user-container"></div>
    </div>
    <div class="ai-response flex items-center">
      <img src="https://img.freepik.com/premium-photo/female-robot-with-blue-eyes-white-headdress_812426-22921.jpg" alt="AI Avatar" class="h-8 w-8 rounded-full mr-2">
      <div id="response-container"></div>
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#speak-btn").click(function() {
        $.ajax({
          type: 'POST',
          url: '/get_user_speech',
          success: function(response) {
            $("#user-container").html("<div>User: " + response.user_input + "</div>"); // Updated to html()
            $("#response-container").html("<div>AI: " + response.message + "</div>"); // Updated to html()
          },
          error: function(xhr, status, error) {
            alert('Error processing speech');
          }
        });
      });
    });
  </script>
</body>
</html>